body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    text-align: center; 
}

button {
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block; 
    margin: 10px auto; 
}

#marvel-image{
    display: block; 
    margin: 10px auto;
    max-width: 50%;
    height: auto; 
}
